

/*::::::::::::::: PAGE CONTAINER :::::::::::::::*/

#wrapper-ht { /* sets up properties for sticky footer */
	width: 100%;
	min-height: 100%; /* ie6 hack */
	height: auto !important; /* ie6 hack */
	height: 100%;
	margin: 0 auto -250px;
}

/*::::::::::::::: HEADER :::::::::::::::*/

/* #header-mp, #header {
	position: relative;
	width: 1050px;
	margin: 0 auto;
}
#header-mp {
	height: 655px;
}
#header {
	height: 200px;
} */

#header-campsite, #header-group {
	position: relative;
	width: 1050px;
	margin: 0 auto;
}
#header-campsite {
	height: 130px;
}
#header-group {
	height: 205px;
}
	#topNav { /* For styling, see list-links.css */
	    position: absolute;
	    top: 5px;
	    right: 0;
	    font-size: 11px;
	}
	#brand-campsite {
		margin-top: 55px;
		padding-bottom: 10px;
	}
		.brand-small {
			position: absolute;
			top: 8px;
			left: 0;
		}
	#brand-group { /* see hack-global for #brand-group-txt styling */
		margin-top: 70px;
		padding-bottom: 10px;
	}
	#tagline-campsite {
	    position: absolute;
	    top: 95px;
	    right: 0;
	}
	#tagline-group {
		position: absolute;
		top: 172px;
		right: 0;
	}
		#tagline-campsite span, #tagline-group span {
			font-family: 'Century Gothic', 'AvalonMediumRegular', sans-serif;
			font-size: 28px;
			font-weight: bold;
			letter-spacing: -1px;
		}

/*::::::::::::::: NAV :::::::::::::::*/

#nav-wrapper {
    width: 1050px;
    height: 32px;
    padding-top: 12px;
    margin: 0 auto 20px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

/*::::::::::::::: PAGE CONTENT CONTAINERs :::::::::::::::*/

#content {
	width: 1050px;
	margin: 0 auto;
	margin-bottom: 50px;
}

/* #content-header {
	width: 1050px;
	height: 430px;
	margin: 0 auto 20px;
} */

/* #group-by-topic, #map {
	height: 390px;
	border-top: 1px solid #fff4e4;
	background: #fffbf5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fffbf5), to(#fff4e4));
	background: -webkit-linear-gradient(#fffbf5, #fff4e4);
	background: -moz-linear-gradient(#fffbf5, #fff4e4);
	background: -ms-linear-gradient(#fffbf5, #fff4e4);
	background: -o-linear-gradient(#fffbf5, #fff4e4);
	background: linear-gradient(#fffbf5, #fff4e4);
	-pie-background: linear-gradient(#fffbf5, #fff4e4);
	behavior: url("PIE.htc");
} */

#group-by-topic, #map {
	height: 390px;
	background: #f7f7f7;
}

#group-by-topic {
	padding: 10px 20px;
}
	.group-list {
		float: left;
		padding-left: 15px;
		border-left: 1px solid #ccc;
		margin-right: 25px;
		margin-bottom: 15px;
	}

#map {
	padding: 10px 0;
	margin-bottom: 15px;
	text-align: center;
}
/* #mapGrp {
	padding: 20px;
	background: #f7f7f7;
} */
#map-canvas {
	width: 370px;
	height: 300px;
	margin-left: 10px;
}

/*::::::::::::::: CONTENT CONTAINERS :::::::::::::::*/

/* Campsite Landing Page */

#contentLftMP {
	float: left;
	width: 640px;
}
#contentRtMP {
	float: right;
	width: 390px;
}

/* Groups Landing Page */

#contentLft { /* see rs-default.css, royalslider.css for content-slider styles for royal slider element */
	float: left;
	width: 740px;
}
/* 	.step1, .step2 {
		float: left;
		display: block;
		width: 310px;
		margin-bottom: 15px;
	}
		.step1 {
			margin-left: 0;
		}
		.step2 {
			margin-left: 20px;
		} */
	/* .row {
		width: 100%;	
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px dashed #ccc;
	} */
		/* .row.bdrRt {
			padding-right: 15px;
			border-right: 1px dashed #ccc;
		} */
		.cBxLft {
			float: left;
			width: 350px;
			height: 250px;
			padding-top: 8px;
			padding-right: 10px;
		}
		.cBxRt {
			float: right;
			width: 364px;
			height: 250px;
			padding-top: 8px;
			padding-left: 15px;
			border-left: 1px dashed #ccc;
		}

#contentRt { /* see lists-links.css for button positioning */
	position: relative;
	float: right;
	width: 290px;
}
	.sponsors img {
		margin-right: 10px;
		margin-left: 10px;
	}
	/* .cBx1 {
		position: relative;
		padding-top: 15px;
		border-top: 1px dashed #ccc;
	}
	.cBx2 {
		position: relative;
		width: 275px;
		margin-top: 14px;
		padding: 15px 0 25px 15px;
		border-top: 1px dashed #ccc;			
	}
	.cBx3 div {	
		margin-left: 10px;
	} */
		
		/* .step3 {
			width: 240px;
			margin-bottom: 15px;		
		} */
		.logoBx {
			float: left;
			width: 125px;
			height: 125px;
			margin: 10px 0 10px 10px;
		}
   /* .scrollableSidebarWidget {
       padding-left:5px;
       max-height: 250px;
       overflow-y: auto
   }
   .scrollableSidebarWidgetItem {
       padding: 5px 0px 5px 0px;
       border-bottom: 1px dashed #ccc;
   } */
	

/*********** SUBPAGE CONTAINERs ***********/
		
	.col1 {
		float: left;
		width: 698px;
		padding-right: 20px;
		padding-bottom: 30px;
		border-right: 1px dashed #ccc;
	}
		.col1 > h2 {
			margin-top: 15px;
		}
		.col1 h2 + p {
			margin-top: 0;
			padding-top: 3px;
		}
		.col1.bdrLft {
			width: 824px;
			padding-left: 20px;
			border-right: 0 none;
			border-left: 1px dashed #ccc;
		}
	.col2 {
		float: right;
		width: 275px;
		padding: 0 15px 15px;
	}
	.col3 { /* Account links */
		float: left;
		width: 165px;
		margin-right: 20px;
	}

	.kWords p {
		padding-top: 0;
	}
	.voteBx {
		float: left;
		width: 75px; /* margin-right: 20px; */
		background: #fbfbfb;
	}
		.voteBx p {
			border: 1px solid #e2e2e2;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			behavior: url("PIE.php");
			font-family: 'Century Gothic', 'AvalonMediumRegular', sans-serif;
			font-size: 18px;
			color: #616161;
			text-align: center;
		}
	.session {
		float: right;
		width: 605px;
	}
	.session-mp {
		float: right;
		width: 640px;
	}

	/* .sponsorLogo a {
		display: block;
		width: 190px;
		height: 135px;
		margin: 0 auto;
	}
		.sponsorLogo img {
			margin-top: 20px;
		} */

/*::::::::::::::: TABLE :::::::::::::::*/

table.tblStyle {
    width: 100%;
}
.tblStyle td {
    padding: 10px 5px;
    border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	line-height: 18px;
}
.tblStyle.profile td:first-child {
    font-weight: bold;
}
.tblStyle th {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
}
	.tblPW td {
		padding: 0 10px;
		border: 0 none;
		font-size: 13px;
	}

#eventDetails {
    margin-top: 20px;
}

table.tblStyle2 {
	width: 100%;
}
	.tblStyle2 td {
		font-size: 12px;
		line-height: 15px;
        text-align: right;
	}
		.tblStyle2 td:first-child {
			font-size: 14px;
			line-height: 20px;
             text-align: left;
		}
	.tblStyle2 td, .tblStyle2 th {
		padding: 15px 3px;
		border-bottom: 1px solid #e5e5e5;
	}
	.tblStyle2 th {
		font-size: 11px;
		font-weight: normal;
		text-transform: uppercase;
		text-align: right;
	}
		.tblStyle2 th:first-child {
             text-align: left;
        }
		
.fill {
	background: #f5f5f5;
}
.paddedTable td {
	padding: 5px 10px;
	font-size: 16px;
}

.prevNext td {
    padding: 5px 10px;
    font-size: 16px;
    width: 115px;
}
	
/*::::::::::::::: FOOTER :::::::::::::::*/ 


#footer, .push {  /* sets up properties for sticky footer */
	height: 250px;
}
#footer { /* For footer link lists refer to lists-links.css */
	width: 100%;
	border-top: 1px dashed #ccc;
	background: #f9f9f9;
}
	#ftr-content { 
		width: 1050px;
		margin: 0 auto;
		padding-top: 35px;
	}
	#ftr-content, #ftr-content p {
		font: normal 12px/19px 'Muli', Arial, sans-serif;
		font-weight: 400;
	}
	.ftrcol {
		float: left;
		width: 150px;
		height: 167px;	
		padding-left: 40px;
	}
		#ftr-content .ftrcol:first-child {
			padding-left: 0;
		}
	#contactNfo {
		float: right;
		width: 250px;
		padding-left: 20px;
		border-left: 1px dashed #ccc;	
	}

/*::::::::::::::: SITE CREDIT, COPYRIGHT :::::::::::::::*/

#credit, #copyright {
	height: 10px;
	border-top: 1px dashed #ccc;
	padding-top: 10px;
	font: 11px/16px 'Muli', Arial, sans-serif;
	font-weight: 400;
}
#credit { /* see links-lists.css for link properties */
	clear: both;
	float: left;
	width: 525px;
	color: #ccc;
}
	
#copyright {
	float: right;
	width: 525px;
	text-align: right;
}
