/*::::::::::::::: GLOBAL FORM STYLES :::::::::::::::*/


fieldset {
	margin-bottom: 25px;
	padding: 25px;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url("PIE.htc");
}
legend {
	font-weight: bold;
}
label {
	display: block;
	font-weight: bold;
}
    .radio {
        padding: 0px 10px;
    }

input[type="text"], input[type="email"], input[type="password"], input[type="integer"], textarea {
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url("PIE.htc");
	font: normal 15px/22px 'ProximaNova-Regular', Arial, sans-serif;
	color: #414141;
}
	.inPt {
		width: 87%;
	}
	.comments {
		width: 605px;
	}
	form.profl input[type="text"], form.profl input[type="password"] {
		padding: 2px;
	}

select {
    margin: 0px 5px 10px 5px;
    padding: 8px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url("PIE.htc");
    font: normal 15px/22px 'ProximaNova-Regular', Arial, sans-serif;
    color: #414141;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="integer"]:focus, textarea:focus, select:focus {
	-webkit-box-shadow: #51cbee 0px 0px 4px;
	-moz-box-shadow: #51cbee 0px 0px 4px;
	box-shadow: #51cbee 0px 0px 4px;
	behavior: url("PIE.htc");
}

input[type="submit"], input[type="button"] {
    padding: 10px;
	border: 0 none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url("PIE.htc");
	background: #2faad9;
	font-family: 'Century Gothic', 'AvalonMediumRegular', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
    text-align: center;
}
	input[type="submit"]:hover, input[type="button"]:hover {
        color: #fff;
		background: #ca43bb;
		text-decoration: none;
	}
    #event_button {
        width: 155px;
        padding: 20px 10px;
    }
	
#map-location-search { /* moved from custom.css */
    width: 352px;
    margin: 0px auto 10px;
}
#groups-by-topic-search {
    width: 580px;
	margin-bottom: 30px;
}
.redButton {
    background: red !important;
    border: 1px solid red !important;
    color: white !important;
}
.redButton:hover {
    background: white !important;
    border: 1px solid red !important;
    color: red !important;
}

.greyButton {
    background: #929292 !important;
    color: white !important;
}

