/*::::::::::::::: Content Slider - Custom Styles :::::::::::::::*/

.contentSlider,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs,
.contentSlider .rsSlide,
.contentSlider .rsOverflow {
	background: #fff;
}
.contentSlider img {
	max-width: 100%;
	height: auto;
	display: block;
}
.content-slider-bg {
	width: 740px;
	padding: 0;
}

/******************************
*
*  RoyalSlider Default Skin 
*
*    3. Thumbnails
*    4. Tabs
*    
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/***************
*
*  3. Thumbnails
*
****************/

.rsDefault .rsTmb {
	display: block;
}

/* Thumbnails with text */
.rsDefault .rsTmb {	
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', 'AvalonMediumRegular', sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	color: #fff;
}

/***************
*
*  4. Tabs
*
****************/

.rsDefault .rsTabs {
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden; 
	padding-top: 6px;
	position: relative;
}
.rsDefault .rsTab {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: 167px;
	height: 32px;
	margin-left: 10px;
	padding-top: 10px;
	background-color: #2faad9;
	border: 5px solid #35bbee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url("PIE.htc");
	color: #fff;
	text-decoration: none;	

	*display: inline; 
	*zoom: 1;
}
.rsDefault .rsTab:first-child {
	margin-left: 0;
}

.rsDefault .rsTab:hover { 
	border: 5px solid #b0ee19;
	background: #abe224;
}
.rsDefault .rsTab:active { 
	border: 5px solid #b0ee19;
	background: #abe224;
}
.rsDefault .rsTab.rsNavSelected { 
	border: 5px solid #b0ee19;
	background: #abe224;
	color: #fff;
	text-shadow: 1px 1px #aaa;
}